<p>Beers page!</p>
    {{#each beers}}
      <li>Name: {{this.name}} <img src='{{this.image_url}}' width="70" height="150">  <p>Description: {{this.description}}</p> <p>Remarks: {{this.tagline}}</p></li>
    {{/each}}   